@media(min-width:567px) and (max-width: 992px) {
    #content {
        height: 100%;
        position: unset;
        transform: inherit;
        margin: 20px 0px;
        padding: 0;
    }

    .menu-home-login {
        height: 100%;
        transform: inherit;
        position: unset;
        display: flex;
        justify-content: center;
    }

    #login {
        transform: unset;
        /*display: flex;
        justify-content: center;*/
        position: unset;
    }
    .logo{
    	width:65%;
    }
}

@media(width:768px) {
    #content {
        height: auto;
    }

    .menu-home-login{
    	height:auto;
    }
}
@media(width:568px){
	#content{
		height:120%;
	}
}