@media(max-width: 767px) {
    .header-right li {
        padding: 0px 0px 0px 15px;
        float: right;
    }

    .ul-menu.menu-right.ul-lich {
        top: 0;
        left: 0px;
        padding-left: 19px;
        width: 100%;
    }

    .tile-group.two,
    .tile-group.double {
        width: 100%;
        margin-left: 0;
    }

    /*login 2*/
    .head-login img {
        width: 45%;
    }

    /*ql hoc vien*/
    .ul-menu.ul-vanban {
        padding: 0;
    }

    .input-group-addon img {
        width: 20px;
    }

    .ul-menu.menu-right input {
        padding: 2px 0px;
    }

    .ul-timkiem {
        padding: 0px;
    }

    .ul-timkiem li {
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .bg-table {
        padding: 0;
    }

    .ul-footer {
        text-align: left;
    }

    .ul-footer li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .tbl-thongtin,
    .tbl-thongtint thead,
    .tbl-thongtin tbody,
    .tbl-thongtin th,
    .tbl-thongtin tr,
    .tbl-thongtin td {
        display: block;
    }

    .tbl-thongtin>thead>tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tbl-thongtin>tbody>tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .table-responsivetbl-thongtin>tbody>tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }

    .tbl-thongtin>tbody>tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }

    .tbl-thongtin>tbody>tr td {
        width: 100%;
        overflow: hidden;
        border: none;
        position: relative;
        padding-left: 40% !important;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .tbl-thongtin>tbody>tr>td:before {
        position: absolute;
        content: attr(data-title);
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: bold;
    }

    .tbl-thongtin .td-img,
    .tbl-thongtin td .change-input {
        text-align: left;
    }
    .content-tbl{
    	padding-bottom:110px;
    }
    .phantrang.pagination{
    	margin-right:0;
    }
    .header-logo{
    	display:flex;
    	justify-content: space-between;
    }
    .logo-mobile img{
    	width:30%;
    }
}

@media(max-width: 480px) {
    .ul-menu.menu-right.ul-lich {
        top: 0;
        left: -8px;
        text-align: right;
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        align-items: center;
    }

    .header-right li {
        padding-right: 7px;
    }

    .header-right li span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-right li p {
        white-space: nowrap;
        margin-bottom: 0;
        padding-right: 4px;
        font-size: 13px;
        border: 0;
    }
}

@media(min-width:567px) and (max-width: 992px) {
    #content {
        height: 100%;
        position: unset;
        transform: inherit;
        margin: 20px 0px;
        padding: 0;
        overflow-y: scroll;
    }

    .ul-menu.menu-right.ul-lich {
        /*top: -49px;*/
        text-align: right;
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-home-login {
        height: 100%;
        transform: inherit;
        position: unset;
        display: flex;
        justify-content: center;
    }

    #login {
        transform: unset;
        /*display: flex;
        justify-content: center;*/
        position: unset;
    }

    .logo {
        width: 65%;
    }

    .tile-area {
        overflow-y: scroll;
    }

    /*login2*/
    .login2 #content {
        overflow-y: scroll;
        margin: 0;
    }

    .head-login img {
        width: 45%;
    }

    .login2 .menu-padd {
        transform: unset;
        left: 0;
        margin: 0;
        top: 21%;
    }
    /*hoc vien*/
    .tbl-thongtin,
    .tbl-thongtint thead,
    .tbl-thongtin tbody,
    .tbl-thongtin th,
    .tbl-thongtin tr,
    .tbl-thongtin td {
        display: block;
    }

    .tbl-thongtin>thead>tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tbl-thongtin>tbody>tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .table-responsivetbl-thongtin>tbody>tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }

    .tbl-thongtin>tbody>tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }

    .tbl-thongtin>tbody>tr td {
        width: 100%;
        overflow: hidden;
        border: none;
        position: relative;
        padding-left: 40% !important;
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }

    .tbl-thongtin>tbody>tr>td:before {
        position: absolute;
        content: attr(data-title);
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
        font-weight: bold;
    }

    .tbl-thongtin .td-img,
    .tbl-thongtin td .change-input {
        text-align: left;
    }
    .content-tbl{
    	padding-bottom:110px;
    }
    .phantrang.pagination{
    	margin-right:0;
    }
    .ul-timkiem input, .ul-timkiem select{
    	width: 125px;
    }
}

@media(min-width:768px) and (max-width: 992px) {

    .tile-group.two,
    .tile-group.double {
        width: 48%;
        margin-left: 20px;
    }

    .tile-group:nth-child(3),
    .tile-group:nth-child(5) {
        margin-left: 0;
    }

    .ul-menu.menu-right.ul-lich {
        position: unset;
    }

    .logo {
        padding-top: 20px;
        width: 100%;
    }
}

@media(min-width: 992px) and (max-width: 1025px) {
    .clock {
        left: 15%;
    }

    .tile-label {
        font-size: 14px;
    }
    nav ul li a{
    	    padding: 10px 6px 15px 6px;
    	    font-size:14px;
    }
    .header-right li{
    	    padding: 15px 5px 15px 5px;
    }
    .header-right li p{
    	font-size:13px;
    	padding-right:10px;
    }
    .header-right{
    	padding-right:0;
    }
}

@media(width:768px) {
    #content {
        height: auto;
    }

    .menu-home-login {
        height: auto;
    }
}

@media(width:568px) {
    #content {
        height: 120%;
    }
    .ul-timkiem input, .ul-timkiem select{
    	width: 100px;
    }
}

@media(width:320px) {
    .header-right li p {
        font-size: 12px;
    }

    .login2 #login {
        transform: translateX(-50%) translateY(-41%);
    }
    .ul-menu.ul-vanban{
    	font-size:13px;
    }
    .ul-menu.menu-right .input-group.date .input-group-addon{
    	width:30px;
    }
    .ul-menu img{
    	margin-right:0;
    }
}