body {
    font-size: 14px;
    font-family: 'MyriadPro_Regular';
    color: #49494a;
    font-size: 16px;
    margin: 0px;
    height: 100vh;
}

.bg-login {
    background: url(../images/bg-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a,
a:hover,
a:active,
a:link {
    text-decoration: none
}

@font-face {
    font-family: 'Arial_regular';
    src: url(../font/Arial_0.ttf);
}

@font-face {
    font-family: 'Arial_bold';
    src: url(../font/Arial_bold.ttf);
}

@font-face {
    font-family: 'MyriadPro_Regular';
    src: url(../font/MyriadPro_Regular.otf);
}

@font-face {
    font-family: 'MYRIADPRO_BOLD';
    src: url(../font/MYRIADPRO_BOLD.OTF);
}

@font-face {
    font-family: 'MYRIADPRO_SEMIBOLD';
    src: url(../font/MYRIADPRO_SEMIBOLD.OTF);
}


.none-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.mar-top-15 {
    margin-top: 15px;
}

.padd-left-15 {
    padding: 0px 0px 0px 15px !important;
}

.padd-right-15 {
    padding: 0px 15px 0px 0px !important;
}

/* margin */
.mar-bottom-10 {
    margin-bottom: 10px;
}

/*end margin */
.banner {
    padding: 3px 0px;
    /* height: 61px; */
    background: -webkit-linear-gradient(#005590 0%, #337AB6 100%);
    background: -o-linear-gradient(#005590 0%, #337AB6 100%);
    background: -moz-linear-gradient(#005590 0%, #337AB6 100%);
    background: linear-gradient(#005590 0%, #337AB6 100%);
}

.banner-height {
    height: 55px;
    padding-left: 22px;
}

.width-17 {
    width: 17px !important;
}

.height-lich {
    height: 25px !important;
}

.width-50 {
    width: 50px;
}

.content-right {
    display: inline-block;
}

.header-right {
    margin-bottom: 0px;
    float: right;
    /* padding: 0px; */
    background: url(../images/bg_home_header.svg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 55px;
    padding: 0px;
    z-index: 2;
    position: relative;
    padding-right: 30px;
}

.header-right li {
    display: inline-block;
    /* float: right; */
    padding: 17px 0px 15px 15px;
}

.header-right li:last-child p {
    border-right: 0px solid #fff;
}

.header-right li a {
    color: #fff;
}

.header-right li p {
    display: inline-block;
    border-right: 1px solid #fff;
    padding-right: 15px;
    font-size: 15px
}

.header-right img {
    height: 18px;
    padding-right: 5px;
}

.red {
    color: #ec1c24;
}

.logo {
    width: 330px;
}

.btn-add img {
    height: 15px;
    margin-right: 8px;
}

.btn-add {
    padding: 3px 10px;
    border: 0px;
    color: #fff;
    margin-left: 5px;
}

.btn-green {
    background: #156031
}

.btn-orange {
    background: #e96524
}

.btn-bluee {
    background: #2AACE2;
}

/* menu */
.menu {
    background: #DDDDDC;
    height: 40px;
}

.ul-menu,
.menu-content {
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}

.ul-menu {
    padding: 7px 10px;
}

.ul-menu li {
    display: inline-block;
    padding: 3px 0px 3px 0px;
}

.ul-menu img {
    height: 18px;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.ul-menu li a {
    color: #005490;
}

.ul-menu.menu-right {
    float: right;
    padding: 0px;
}

.ul-menu.menu-right li {
    width: auto;
}

.ul-menu.menu-right input {
    padding: 2px 12px;
    outline: none;
    color: #005490;
    position: relative;
    top: 2px;
    height: 30px;
    border-radius: 0px;
    background: none;
    border: 0px;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

.ul-menu.menu-right .input-group.date .input-group-addon {
    background: none;
    border: 0px;
    padding: 4px 5px;
}

/* menu content */
.menu-content {
    text-align: center;
    /* margin-top: 20px; */
}

.menu-content li {
    display: inline-block;
    border: 0px;
    width: 146px;
    height: 140px;
    border-radius: 15px;
    margin: 10px;
    background: #9abaa3;
}

.menu-content li .div-sub {
    padding: 10px 15px;
    background: #fff;
    width: 146px;
    height: 140px;
    border: 1px solid #09572c !important;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.menu-content li .div-sub:hover {
    z-index: 1;
    cursor: pointer;
    left: -8px;
    bottom: 8px;
}

.menu-content li.none-border {
    background: none
}

.menu-content li.none-border {
    border: 0px;
}

.menu-content img {
    width: 70px;
    height: 70px;
}

.menu-content .div-sub {
    height: 100px
}

.content-left {
    float: left;
    width: 65px;
    background: #a8becc;
    border-right: 5px solid #88a491;
}

.content-right {
    float: left;
    width: 100%;
}

.div-add {
    color: #176031;
    padding: 3px 0px;
}

/* menu van ban den */
.banner-vb {
    /* background: #176031; */
    background: -webkit-linear-gradient(rgb(255, 255, 255) 0%, rgba(223, 224, 225, 0.5) 47.19%, rgb(200, 202, 203) 99.51%);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 255, 255) 0%, rgba(223, 224, 225, 0.5) 47.19%, rgb(200, 202, 203) 99.51%);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 255, 255) 0%, rgba(223, 224, 225, 0.5) 47.19%, rgb(200, 202, 203) 99.51%);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 255, 255) 0%, rgba(223, 224, 225, 0.5) 47.19%, rgb(200, 202, 203) 99.51%);
    /* Standard syntax */
    height: 55px;
}

nav ul {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

nav ul img {
    height: 23px;
    margin-right: 8px;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 10px 10px 15px 10px;
    transition: 0.3s linear;
    /* height: 44px; */
}

nav ul li a.active,
nav ul li.active a {
    /* padding: 10px 10px 11px 10px; */
    /* border-bottom: 3px solid #003F0A; */
    background: #2AACE2;
}

nav ul li.active ul li a {
    background: #005490;
    color: #fff;
}

nav ul li ul li.active a {
    background: #2AACE2;
    color: #fff !important;
}

nav ul li.li-img a {
    padding: 0px;
}

nav ul li.li-img img {
    width: 51px;
    height: auto;
    margin-left: 12px;
    /* margin-top: 22px; */
    margin-right: 13px;
    /* margin-bottom: 10px; */
    position: relative;
    bottom: 0;
}

nav ul li.li-img:hover {
    background: none;
}

nav ul li:hover a {
    color: #fff;
}

nav ul li:hover {
    background: #2AACE2;
}

nav ul li:hover ul li a {
    color: #fff
}

nav ul li ul {

    display: none;
    position: absolute;
    width: 250px;
    z-index: 9999;
}

nav ul li ul li {
    border-top: 1px solid #fff;
    display: block;
    color: #333333;
    /* border-right:3px solid #10666D; */

}

nav ul li ul li .img-hide,
nav ul li ul li:hover .img-show {
    display: none;
}

nav ul li ul li:hover .img-hide,
nav ul li ul li .img-show {
    display: inline-block;
}

nav ul li ul li:first-child {
    border-top: none;
}

/* nav ul li:hover ul li{ */

/* position:relative; */
/* top:-4px; */
/* } */
/* nav ul li:hover ul li:first-child{ */
/* border-top:3px solid #003F0A; */

/* } */
nav ul li ul li a {
    background: #005490;
    display: block;
    padding: 10px 14px;

}

nav ul li ul li a:hover {
    background: #2AACE2;
    color: #fff !important;
}

nav .fa.fa-angle-down {
    margin-left: 6px;
}


/*end  menu van ban den */
.ul-menu.ul-vanban {
    display: flex;
    position: relative;
    top: 6px;
    padding: 0px 0px 0px 49px;
}

.ul-menu.ul-vanban span {
    /* border-left:1px solid #fff; */
    padding-left: 5px;
}

.ul-menu.ul-vanban li a :after {
    content: '>';
    margin-left: 5px;
}

.ul-menu.ul-vanban li:last-child a :after {
    content: '';
}

.ul-menu.ul-vanban li:first-child span {
    border-left: 0px;

}

.ul-menu.ul-vanban li {
    padding-right: 0px;
}

.menu-van-ban ul {
    padding: 5px 10px;
}

/* bang */
.ul-table {
    padding: 0px;
    margin-bottom: 0px;
}

.ul-table li {
    display: inline-block;
    margin-left: 25px;
}

.ul-table li input {
    border: 1px solid #9e9e9e;
    padding: 5px;
    outline: none;
}

.ul-table li button img {
    width: 15px;
    margin-right: 8px;
}

.ul-table li button {
    background: #156031;
    padding: 5px 15px;
    color: #fff;
    border: 0px;
    border-radius: 4px;
}

.styled-select select {

    /* border-radius: 4px; */
    padding: 4px 5px 5px 5px;
    /* margin-left: 5px; */
    outline: none;
    color: #575756;
    font-weight: 700;
    min-width: 200px;
}

/* end bang */
.logo-left {
    background: #176031;
    padding: 3px 0px;
}

/* .logo-left img{ */
/* width: 49px; */
/* display: block; */
/* margin: 0 auto; */
/* } */
.padd-index {
    margin-top: 100px;
}

/* .menu-home{ */

/* text-align: center; */
/* left: 50%; */
/* transform: translateX(-50%); */
/* WIDTH: 750px; */
/* } */
/* .menu-padd{ */
/* margin-top: 50px; */
/* } */
.menu-home {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    WIDTH: 750px;
}

.ul-left {
    padding: 0;
    list-style-type: none;
    min-height: 93%;
    background: #a8becc;
    border-right: 5px solid #88a491;
    height: 100%;
}

.leftpanel img {
    height: 25px;
    display: block;
    margin: auto;
}

.leftpanel img.img-show,
.leftpanel a:hover img.img-hide,
.leftpanel a.active img.img-hide {
    display: block;
}

.leftpanel img.img-hide,
.leftpanel a:hover img.img-show,
.leftpanel a.active img.img-show {
    display: none;
}

.leftpanel a:hover,
.leftpanel a.active {
    /* background:#fff;  */
    background: url(../images/bg_menu.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex {
    display: flex;
    flex-direction: row nowrap;
    flex: 1 auto;
    /* float:left; */
    /* height: 90%; */
    width: 100%;
}

.leftpanel {

    /* flex: 1 0 50px; */
    width: 60px;

}

.leftpanel a {
    display: block;
    text-align: center;
    padding: 12px 7px;
    /* transition: all 0.3s ease; */
    color: #5A82C2;


}

.change-input input[type="checkbox"]+label {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* float: right; */
    padding-left: 0px;
    margin-bottom: 0px;
}

.change-input input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 5px 0px 5px;
    vertical-align: middle;
    background: url(../images/check_radio_home.png) left top no-repeat;
    cursor: pointer;
}

.change-input input[type="checkbox"]:checked+label span {
    background: url(../images/check_radio_home.png) -19px top no-repeat;
}

.change-input input[type="checkbox"] {
    display: none;
}

.change-input input[type="radio"] {
    display: none;
}

.change-input input[type="radio"]+label {

    font-size: 14px;
    font-weight: normal;
}

.change-input input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check_radio_home.png) -38px top no-repeat;
    cursor: pointer;
}

.change-input input[type="radio"]:checked+label span {
    background: url(../images/check_radio_home.png) -57px top no-repeat;
}

.bg-table {
    padding: 0px 15px;
}

.tbl-thongtin {
    width: 100%
}

.tbl-thongtin thead {
    background: #2AACE2;
    padding: 1px 0px;
    border: 1px solid #b0b0b0;
    border-bottom: 0px;
    border-top: 0px;
    font-family: 'Arial_bold';
}

.tbl-thongtin th {
    height: 36px;
    border-left: 1px solid #fff;
    padding: 5px 10px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    white-space: nowrap;
}

.tbl-thongtin th:first-child {
    border-left: 0px;
}

.tbl-thongtin .line-th td {
    background-color: #b0b0b0 !important;
    height: 1px !important;
    border-right: none !important;
    padding: 0px;
    border: 0px;
}

.tbl-thongtin img {
    width: 18px;

}

.tbl-thongtin .td-img {
    text-align: center;
}

.tbl-thongtin td {

    padding: 5px;
    border: 1px solid #939393;
    border-top: 0px;
    background: #fff;

}

.tbl-thongtin tr:hover td {
    background: #e2e2e2;
}

.tbl-thongtin tr:hover td a {
    color: #0092d3;
}

.tbl-thongtin td:first-child {
    /* border-left:0px; */
}

.tbl-thongtin td:last-child {
    /* border-right:0px; */
}

.tbl-thongtin tr:last-child td {
    /* border-bottom:0px; */
}

/* .tbl-thongtin tfoot td{ */
/* background:#dcdbdb; */
/* height:18px; */
/* border:0px; */
/* }		  */
.tbl-thongtin td a {
    color: #49494A;
}

.tbl-thongtin td .change-input {
    text-align: center;
}

.tbl-thongtin td .change-input input[type="checkbox"]+label {
    padding-left: 0px
}

.tbl-tieude {
    font-family: 'MYRIADPRO_BOLD';
    margin-bottom: 5px;
    margin-top: 10px;
}

.phantrang.pagination {
    margin: 5px 0px;
    margin-top: 10px;
    margin-right: 15px;
}

.phantrang.pagination>li>a:focus,
.phantrang.pagination>li>a:hover,
.phantrang.pagination>li>span:focus,
.phantrang.pagination>li>span:hover {
    background: none;
    border: 0px;
}

.phantrang.pagination>li>a {
    border: 0px;
    background: none;
    color: #4e4e4e;
    font-size: 15px;
}

.phantrang.pagination>li.active>a {
    border: 0px solid #1b9b48;
    border-radius: 4px;
    padding: 6px 0px 0px 0px;
    color: #2AACE2;
}

.phantrang.pagination>li>a>img {
    height: 27px;
    position: relative;

}

.phantrang.pagination>li.pagination-img>a {
    padding: 0px 5px;
}

.tbl-thongbao p {
    position: relative;
    top: 10px;
    margin-left: 15px;
    font-size: 15px;
}

.ul-timkiem li:first-child {
    margin-left: 0px
}

.ul-timkiem {
    padding: 0px 0px 0px 20px;
    list-style-type: none;
}

.ul-timkiem li {
    display: inline-block;
    margin-left: 30px
}

.ul-timkiem li img {
    height: 15px;
    margin-right: 5px;
}

.ul-timkiem li button:hover {
    background: #009331;
}

.ul-timkiem input,
.ul-timkiem select {
    border-radius: 0px;
    height: 31px;
    border: 1px solid #9d9d9d;
    width: 200px;
    display: inline;
    border-radius: 4px;
}

.ul-timkiem li p {
    margin-bottom: 5px;
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 5px;
    font-family: 'MyriadPro_Regular';
}

.styled-select {
    display: inline-block;
}

.ul-timkiem select {
    color: #49494A;
    font-weight: 100;
}

.ul-timkiem button {
    background: #005490;
    border: 0px;
    padding: 5px 12px;
    color: #fff;
    border-radius: 4px;

}

.ul-timkiem li:hover button {
    background: #2AACE2;
}

.ul-timkiem span {
    margin-right: 5px
}

.img-span img {
    width: 25px;

}

.btn-span {
    margin-top: 20px;
}

.content-tbl {
    /* border-left:5px solid #9abaa3 */
    padding: 0px 25px;
}

.footer {
    height: 57px;
    background: #176031;
    position: relative;
    bottom: 0px;
}

.footer-yellow {
    height: 15px;
    background: rgba(247, 236, 19, 0.2);
    position: absolute;
    bottom: 0px;
}

.bg-pagination {
    /* background:#dbdbda; */
}

.ul-footer {
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.ul-footer li {
    display: inline-block;
    background: #2AACE2;
    padding: 5px 10px;
    margin-left: 3px;
    border-radius: 4px;
}

.ul-footer li:first-child {
    margin-left: 0px;
}

.ul-footer li:hover {
    background: #005490;
}

.ul-footer li a {
    color: #fff;
}

.ul-footer li img {
    height: 20px;
    margin-right: 5px;
}

.btm-toolbar {
    position: fixed;
    bottom: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #005590 #005590 transparent #005590;
    /* border-color: #5A82C2 #5A82C2 transparent #5A82C2; */
    background-color: #FCFCFC 0.8;
    padding: 10px 10px 0px 10px;
    border-radius: 13px 13px 0px 0px;
    background: #fff;
}

.footer {
    z-index: 500;
    display: flex;
    flex: 0 auto;
    justify-content: center;
    /* align-items: center; */
    height: 0px;
    /* opacity: 0.8; */
}

/* pop up */
.modal-user .close {
    background-image: url(../images/remove-icon-small.svg) !important;
    opacity: 1;
    width: 15px;
    height: 15px;
}

.modal-user .modal .modal-header {
    background: #E9E9E9;
    color: #005490;
    padding: 15px;
    font-family: 'Arial_bold';
}

.modal-user .modal {
    text-align: center;
    padding: 0 !important;
}

.modal-user .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-user .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-user .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #BFBDBD;
}

.form-nhap label {
    font-weight: 100;
    width: 100px;
    margin-right: 5px;
}

.form-nhap select {
    font-weight: 100;
    width: 100%;
    border-radius: 4px;
    height: 30px;
}

.form-nhap input {
    border-radius: 0px;
    /* border:1px solid #9d9d9d; */
    /* border-radius:4px; */
}

.form-nhap .form-group {
    margin-bottom: 10px;
}

.form-select {
    display: inline-block;
    width: calc(100% - 110px);
}

/*end pop up */
/* menu home */
.ul-menu-home {
    padding: 0px;
    list-style-type: none;
}

.ul-menu-home li {
    display: inline-block;
    width: 360px;
    height: 65px;
    margin-right: 10px;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    background: url(../images/bg_menu_nen.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li {}

.ul-menu-home li:hover a {
    z-index: 1;

    cursor: pointer;
    left: 8px;
    top: -8px;
    position: relative;
}

/* .ul-menu-home li a{ */
/* float:left; */
/* font-family: 'UTM ViceroyJF'; */
/* margin-left:88px; */
/* margin-top:10px; */
/* color:#606262; */
/* font-size:30px; */
/* } */
.ul-menu-home li a {
    float: left;
    font-family: 'UTM ViceroyJF';
    /* margin-left: 88px; */
    /* margin-top: 10px; */
    color: #606262;
    font-size: 30px;
    height: 67px;
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
}

.ul-menu-home li.menu1 a {
    background: url(../images/bg_quanlyvanbanden.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu2 a {
    background: url(../images/bg_quanlydanhsachhoidong.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu3 a {
    background: url(../images/bg_quanlyvanbandi.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu4 a {
    background: url(../images/bg_quanlydanhsachthanhvien.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu5 a {
    background: url(../images/bg_baocaothongke.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu6 a {
    background: url(../images/bg_danhbadienthoai.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu7 a {
    background: url(../images/bg_lichlamviec.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.ul-menu-home li.menu8 a {
    background: url(../images/bg_quantrihethong.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* end menu home */
/* banner login */
/* .banner-login{ */
/* height:240px!important; */
/* overflow:hidden; */
/* background:#88A491; */
/* } */


.banner-logo img {
    height: 180px;
}

.img-logo {
    /* position: absolute; */
    width: 200px;
    top: 25px;
    /* left: 44.5%; */
}

/*end banner login */
/* lich lam viec */
.ul-lichlamviec,
.ul-ngay {
    padding: 0px;
    list-style-type: none;
    width: 100%;
}

.ul-lichlamviec li {
    display: inline-block;
    width: 16.66%;
    background: #156031;
    border-left: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    float: left;
}

.ul-lichlamviec li:first-child {
    border-left: 0px;
}

.ul-ngay li:first-child {
    border-left: 1px solid #BFBEBE !important;
}

.ul-ngay li {
    display: inline-block;
    width: 16.66%;
    border-left: 0px !important;
    border: 1px solid #BFBEBE;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    float: left;
    min-height: 175px;
}

.ul-ngay li .date {
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    background: #E4EAF4;
    color: #49494A;
    width: 30px;
    border-radius: 50%;
    float: right;
    border: 1px solid #D2D8E8;
    font-family: 'MYRIADPRO_BOLD';
}

.ul-ngay .event {
    clear: both;
    */
    /* display: block; */
    font-size: 13px;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
    margin-top: 40px;
    background: #E4EAF4;
    color: #0092D3;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
}

.ul-ngay .event-desc {
    color: #231F20;
    margin: 3px 0px 5px 0px;
    text-decoration: none;
}

/* end lich lam viec */
/* thongke */
.thongke {
    background: #EAEAEA;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.tbl-thongke {
    width: 100%;
}

.tbl-thongke td {
    text-align: center;
    color: #231F20;
}

.tbl-thongke .color-green {
    color: #156031;
    font-family: 'MYRIADPRO_BOLD';

}

.tbl-thongke .border {
    border: 1px solid #156031;
    padding: 10px;
    color: #333333;
    font-family: 'MYRIADPRO_SEMIBOLD';
    background: #fff;
}

/*end thongke */
#image-holder img {
    width: 100%;
    border-radius: 15px;
}

#wrapper input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 180;
    left: 0;
    opacity: 0;
}

.choose_file {
    position: relative;
    display: inline-block;
    /* border-radius: 8px; */
    /* border: #ebebeb solid 1px; */
    width: 122px;
    padding: 4px 6px 4px 8px;
    /* font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif; */
    color: #fff;
    /* margin-top: 2px; */
    background: #156031;
    padding: 5px !important;
    top: 180px;
    text-align: left;
    padding-left: 15px !important;

}

.choose_file input {
    top: 200px;
}

.choose_file img {
    width: 20px;
    margin-right: 8px;
}

.chitiet {
    display: none;
}

.input-group-addon img {
    width: 25px;
}

.bootstrap-datetimepicker-widget.dropdown-menu li {
    background: #fff;
    width: auto;
}

.select-page {
    text-align: right;
    position: relative;
    top: 5px;

}

.select-page label,
.select-page select {
    font-weight: 100;
    margin-left: 5px;
}

.chan-head {
    background: -webkit-linear-gradient(#005590 0%, #337AB6 100%);
    background: -o-linear-gradient(#005590 0%, #337AB6 100%);
    background: -moz-linear-gradient(#005590 0%, #337AB6 100%);
    background: linear-gradient(#005590 0%, #337AB6 100%);
    height: 4px;
}

/* ui */
.tile-area-controls {
    position: fixed;
    right: 40px;
    top: 40px;
}

.tile-group {
    left: 100px;
}

.tile,
.tile-small,
.tile-sqaure,
.tile-wide,
.tile-large,
.tile-big,
.tile-super {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}

#charmSettings .button {
    margin: 5px;
}

.schemeButtons {
    /*width: 300px;*/
}

@media screen and (max-width: 640px) {
    .tile-area {
        overflow-y: scroll;
    }

    .tile-area-controls {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .tile-area {
        overflow-y: scroll;
    }

    .tile-area-controls {
        display: none;
    }

}

.tile-area-scheme-dark {
    background: url(../images/bg_index.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% !important;

}

.chan-head {
    background: -webkit-linear-gradient(#005590 0%, #337AB6 100%);
    background: -o-linear-gradient(#005590 0%, #337AB6 100%);
    background: -moz-linear-gradient(#005590 0%, #337AB6 100%);
    background: linear-gradient(#005590 0%, #337AB6 100%);
    height: 4px;
}

.padd-index1 img {
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.bg-xanh {
    background: #00ABA9;
}

.bg-green1 {
    background: #128023;
}

.bg-blue {
    background: #2AADE3;
}

.bg-green {

    background: #60A917;
}

.bg-timthan {
    background: #16499A;
}

.bg-tim {
    background: #6A00FF;
}

.bg-cam {

    background: #F0A30A;
}

.bg-vang {

    background: #E3C800;
}

.tile-area {
    padding: 30px 15px 0px 15px;
}

.tile-group.two,
.tile-group.double {
    width: calc(20% - 22px);
}

.padd-index1 .tile-group:first-child {
    margin-left: 0px;
}

.tile-group {
    margin-left: 25px;
}

.clock {
    position: absolute;
    top: 50px;
    left: 30%;
    font-size: 35px;
}

.tile-area-scheme-dark [class*=tile] {
    outline: none;
}

.tile,
.tile-wide {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.tile:hover,
.tile-wide:hover {
    -webkit-transform: scale3d(1.1, 1.1, 1) !important;
    transform: scale3d(1.1, 1.1, 1) !important;
}

.tile-wide {
    width: 100%;
    margin: 5px 0px;
}

.tile {
    margin: 5px 0px;
}

.tile {
    width: calc(50% - 8px);
    margin-left: 15px;
}

.tile-container .tile:first-child,
.tile-container .tile.none-margin {
    margin-left: 0px;
}

.height-lich {
    height: 25px !important;
}

.ul-menu.menu-right.ul-lich input {
    background: none;
    border: 0px;
    color: #fff;
    box-shadow: none;
}

.ul-menu.menu-right .input-group.date .input-group-addon {
    background: none;
    border: 0px;
    padding: 4px 5px;
    width: 45px;
}

.ul-menu.menu-right.ul-lich {
    background: url(../images/bg-lich.svg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 43px;
    left: 70px;
    position: relative;
    top: 12px;
    z-index: 1;
}

.tile-group .tile-group-title {
    left: 5px;
}

/* responsive */
@media screen and (max-width:1757px) {
    .ul-timkiem li p {
        display: block;
        width: auto;
        text-align: left;
    }
}

@media screen and (max-width:1366px) {

    .menu-content li .div-sub,
    .menu-content li {

        width: 136px;
        height: 130px;

    }
}

@media screen and (max-width:1500px) {

    .tile-wide,
    .tile {
        height: 120px;
    }

    .padd-index1 img {
        width: 40px;
        display: block;
        margin: auto;
        margin-top: 10%;
    }
}