.none-padding {
    padding-left: 0px;
    padding-right: 0px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    /* background:#ccc; */
    /* padding:10px; */
}

#content {
    /* padding:10px; */
    padding-bottom: 67px;
}

#footer {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
}

.change-input input[type="checkbox"]+label {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* float: right; */
    padding-left: 4px;
    margin-bottom: 0px;
}

.change-input input[type="checkbox"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 5px 0px 5px;
    vertical-align: middle;
    background: url(../images/check_radio_home.png) left top no-repeat;
    cursor: pointer;
}

.change-input input[type="checkbox"]:checked+label span {
    background: url(../images/check_radio_home.png) -19px top no-repeat;
}

.change-input input[type="checkbox"] {
    display: none;
}

.change-input input[type="radio"] {
    display: none;
}

.change-input input[type="radio"]+label {

    font-size: 14px;
    font-weight: normal;
}

.change-input input[type="radio"]+label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check_radio_home.png) -38px top no-repeat;
    cursor: pointer;
}

.change-input input[type="radio"]:checked+label span {
    background: url(../images/check_radio_home.png) -57px top no-repeat;
}

@font-face {
    font-family: 'Arial_regular';
    src: url(Arial_regular.ttf);
}

@font-face {
    font-family: 'Arial_bold';
    src: url(Arial_bold.ttf);
}

@font-face {
    font-family: 'MyriadPro_Regular';
    src: url(MyriadPro_Regular.otf);
}

@font-face {
    font-family: 'Arial_bold';
    src: url(../font/Arial_bold.ttf);
}

.bg-login {
    background: url(../images/bg_login.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
    /* display: flex; */
    /* flex: 0 auto; */
    /* justify-content: center; */
    max-width: 420px;

    top: 30%;

    padding: 0px;

    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;

}

.login-content {
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.75);
    padding-bottom: 30px !important;
}

#form {
    /* width: 380px; */
    /* margin-top: 40px; */
    padding: 0px 15px;
    margin-top: 20px;
}

.tieude {
    /* position: relative; */
    /* bottom: 30px; */
    /* background: #fff; */
    /* padding:0px 15px 0px 5px; */
}

.tieude p {
    font-family: 'Arial_bold';
    color: #005491;
    padding: 20px 0px;
    font-size: 20px;
    margin-bottom: 0px;
}

.input-group-addon {
    padding: 3px 10px;
    background: #fff;
    border: 0px;
}

.text-left {
    text-align: left;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.input-group {
    margin-top: 20px;
    padding: 0px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #005491;
}

.dangnhap button {
    width: 100%;
    font-family: 'Arial_bold';
    background: #E96524;
    border: 0px;
    padding: 10px;
    color: #fff;
    -webkit-box-shadow: 0px 4px 0px 0px #762815;
    -moz-box-shadow: 0px 4px 0px 0px #762815;
    box-shadow: 0px 4px 0px 0px #762815;
    border-radius: 5px;
}

.form-control {
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    border: 0px;
}

.dangnhap {
    margin-top: 15px;
}

.dangnhap a {
    color: #fff;
    font-size: 16px;
}

/* font-size: 26px; */

.styled-select select {
    height: 36px;
    border: 1px solid #005491;
    font-weight: 100;
    width: 100%;
    border-radius: 5px;
}

.input-group-addon img {
    width: 17px;
}

/* placeholder */

input::-webkit-input-placeholder {
    color: rgba(73, 73, 74, 0.53) !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(73, 73, 74, 0.53) !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(73, 73, 74, 0.53) !important;
}

input:-ms-input-placeholder {
    color: rgba(73, 73, 74, 0.53) !important;

}

/* end placeholder */

.menu-home-login {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 40%;
    position: absolute;
    max-width: 750px;
}

.menu-padd {
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;

}

.footer-login {
    background: #166031;
    height: 67px;
    position: absolute;
    bottom: 0px;
    /* top: 50%; */
    width: 100%;
}

.bg-banner {
    background: #88A491;
}

.box-shadow {
    /* -webkit-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* -moz-box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* box-shadow: 0px 0px 233px 31px rgba(255,255,255,1); */
    /* background: url(images/bg_login) no-repeat center center fixed; */
    /* -webkit-background-size: cover; */
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
    position: absolute;
    /* left: 44.5%; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.img-tieude {
    background: url(../images/img_tieude.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px 50px;
}

.img-tieude img {
    width: 100%;
}

.img-logo img:first-child {
    width: 40%;
}

.img-logo img {
    width: 70%;
}

.img-logo {
    margin-bottom: 30px;
}

/* login2 */
.bg-login2 {
    background: url(../images/login2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login2 .dangnhap button {
    background: url(../images/img_tieude.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 5px 50px;
    -webkit-box-shadow: 0px 4px 0px 0px #58595B;
    -moz-box-shadow: 0px 4px 0px 0px #58595B;
    box-shadow: 0px 4px 0px 0px #58595B;
}

.login2 .login-content {
    background: none;
    border: 0px;
}

.login2 #form {
    background: #fff;
    margin-top: 6px;
    padding: 35px 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: -11px 0px 26px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -11px 0px 26px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -11px 0px 26px 0px rgba(0, 0, 0, 0.1);
}

.login2 .styled-select select,
.input-group {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

.mar-bottom-20 {
    margin-bottom: 20px
}

.head-login {
    padding: 20px 30px
}

.head-login img {
    width: 23%;
}

.login2 .menu-padd {
    top: 50%;
}

.login2 .dangnhap {
    margin-top: 35px;
}

/*end login2 */
@media screen and (max-width:1366px) {
    .sunburst {
        height: 210px;
    }

    .footer-login {
        height: 30px;
    }

    .img-logo {

        /* width: 180px; */

    }
}